:root {
    --purple:  rgb(75, 0, 105);
    --lightPurple: rgb(217, 140, 231);
}

header{
    display: flex;
    flex-wrap: wrap;
}
.viewScores{
    color: var(--purple);
    font-size: 100%;
    width: 50%;
    display: flex;
}

.timer{
    width: 50%;
    text-align: end;
}

.button{
    background-color: var(--purple);
    color:white;
    display: center;
    border-radius: 20%;
    font-size: large;
}

.button:hover{
    background-color: var(--lightPurple);
}

.hidden{
    display: none;
}

.choices{
    background-color: var(--purple);
    color:white;
    display: center;
}

.answerType{
    font-style: italic;
}

#intro-section, #done , #question-section{
    text-align: center;
}

/* #question-section{
    text-align: center;
} */

#question-section ul{
    list-style: none;
}

