:root {
    --purple:  rgb(75, 0, 105);
}

.header{
    color: var(--purple);
    font-size: 100%;
    width: 50%; 
    display: flex; 
    justify-content: end;
}

.timer{
    text-align: right;
}

.button{
    background-color: var(--purple);
    color:white;
    display: center;
}

.hidden{
    display: none;
}

.choices{
    background-color: var(--purple);
    color:white;
    display: center;
}

#intro-setion, #question-section{
    text-align: center;
}

#question-section ul{
    list-style: none;
}